.ipynb_checkpoints/
example-canvas-draw.html
example-canvas-draw_idle.html
example-close-at-end.html
example-fig-show.html
example.html
example-ipython-display.html
example-plt-pause.html
example-plt-show.html
example-time-sleep.html
example-time-sleep-no-close.html
